# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Django stuff:
*.log
db.sqlite3
db.sqlite3-journal

# Static files
staticfiles/

# Media files
media/profile_photos/

# Environment files
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# PyCharm
.idea/

# VS Code
.vscode/

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Migration files (optional - comment out if you want to keep them)
# */migrations/*.py
# !*/migrations/__init__.py