{% extends 'base.html' %}
{% load static %}

{% block title %}Менин расписанием{% endblock %}

{% block content %}
<div class="timetable-container">
    <h2 class="timetable-title">Менин расписанием ({{ student.group.name }})</h2>
    <table class="editabletable" style="contenteditable: false;">
        <thead>
            <tr>
                <th>Пара</th>
                <th>Убакыт</th>
                <th>Сабак</th>
            </tr>
        </thead>
        <tbody>
            {% for schedule in schedules %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ schedule.start_time|time:"H:i" }} - {{ schedule.end_time|time:"H:i" }}</td>
                <td>
                    {{ schedule.subject.subject_name }}<br>
                    {{ schedule.subject.teacher.name }}<br>
                    {{ schedule.room|default:"Кабинет жок" }}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}