{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <h2>Менин сабактарымдын расписаниеси</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Сабак</th>
                <th>Группа</th>
            </tr>
        </thead>
        <tbody>
            {% for subject in subjects %}
                <tr>
                    <td>{{ subject.subject_name }}</td>
                    <td>
                        {% for group in subject.groups.all %}
                            {{ group.name }}{% if not forloop.last %}, {% endif %}
                        {% empty %}
                            Группа дайындалган эмес.
                        {% endfor %}
                    </td>
                </tr>
            {% empty %}
                <tr><td colspan="2">Сизге дайындалган сабактар жок.</td></tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}